.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  overflow: hidden;
}
.sidebarHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user {
  color: #b6b6b6;
  font-size: 1.3em;
  text-align: center;
}
.sidebarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
.link > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 36px !important;
  color: #b6b6b6;
  border: 2px solid #b6b6b6;
  border-radius: 50%;
  padding: 3px;
}
.linkText {
  color: #b6b6b6;
  width: 100%;
  font-size: 1.5rem;
}
.linkText:hover {
  color: #999999;
}
.BottomNav {
  display: none;
}

@media (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .BottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .MuiSvgIcon-root {
    font-size: 30px !important;
    color: #b6b6b6;
  }
  .MuiSvgIcon-root:hover {
    color: #fff;
  }
}
